    @import url('https://fonts.googleapis.com/css?family=Share Tech Mono:700|Share Tech Mono:400');

    :root {
        --text: #c7c7c7;
        --background: #191b18;
        --primary: #8ffcc5;
        --secondary: #222021;
        --accent: #30f86c;
    }

    body {
        background-color: var(--background);
        color: var(--text);
        font-family: 'Share Tech Mono';
        font-weight: 400;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 2rem 6rem;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 10px 20px;

    }

    main-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        width: 60%;
    }